@import "variables";

.container-fluid {
  display: flex;
  #appliances-container {
    margin-left: auto;
    margin-right: 0;
    .appliance-wrapper {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      margin: 10px;
      width: 300px;
      height: 350px;
      h3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
      .appliance {
        margin: auto;
        width: 250px;
        height: 350px;
        cursor: pointer;
      }
    }
  }

  #rooms-container {

    margin: auto;
    .room-wrapper {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      margin: 15px;
      width: 300px;
      height: 400px;
      h3 {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
      .room {
        margin: auto;
        width: 275px;
        height: 350px;
        cursor: pointer;
      }
    }
  }
  .form{
    margin: auto;
    .button-wrapper{
      display: flex;
      button{
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }
}
#data-type-wrapper{
  display: flex;
  .styled-select{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-calendar{
  display: flex;
  #calendar_basic{
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.section-heading{
  margin-bottom: 20px;
  h1 {
    margin-bottom: -10px;
    font-size: $heading-size;
  }
  h3{
    font-size: 16px;
    font-weight:  100;
    font-style: italic;
    line-height: 125%;
    letter-spacing: 1.25px;
    color: $color-gray-dark;
  }
  @media(max-width: 768px){
    h1 {
      font-size: $heading-size-md;
    }
  }
  @media(max-width: 475px){
    h1 {
      font-size: $heading-size-sm;
    }
  }
}



.calculator{
  ul{
    list-style-type: none;
  }
  h3{
    font-style: italic;
  }

  #tariff{
    border: 1px solid $color-smoke-white ;
    position:relative;
    padding: 10px;
    min-height: 80px;
    #tariff-line{
      right: 85px;
    }
    .first-line{
      position: absolute;
      top: 0;
    }
    .second-line{
      position: absolute;
      bottom: 0;
    }
    .first{
      left: 0;
    }
    .second{
      right: 0;
    }
    .first-line-line.second{
      right: 5px;
    }
  }



  #appliance-select-container {
    display: flex;
    select {
      margin-right: auto;
      margin-left: auto;
      max-width: 200px;
      margin-bottom: 25px;
    }
  }

  #result-wrapper{
    border: 1px solid $color-smoke-white ;
  }

  .offer{
    padding: 10px;
    height: 300px;
    img{
      width: 200px;
      height: 240px;
      margin-left: 125px;
    }
    div{
      display: inline-block;
      width: 50%;
      height: 100%;
    }

    input, a{
      width: 100%;
      margin: 0 auto;
    }
  }
}

.branches-wrapper{
  display: flex;
  width: 100%;
  select{
    width: 250px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

#pairing{
  display: flex;
  form{
    width: 100%;
  }
  .message{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding-top: 20px;
    text-align: center;
    color: $color-white;
    background-color: $color-purple;
    width: 400px;
  }
  .form-group{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  .button-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}

.img-header{
  position:relative;
  width: 100%;
  margin-bottom: 10px;
  img{
    width: 100%;
    height: 250px;
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    position: absolute;
    top: 10%;
    left: 40%;
    color: $color-black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 24pt;
  }
  #household-title{
    left: 35%;
  }
}

option:checked{
  background-color: $color-light-green;
}

.gray-background{
  background-color: $color-gray-light;
}
.white-background{
  background-color: $color-white;
}


input[type="radio"] {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
}


/*Select styles*/
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;

}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
}

.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 100%;
  display: block;
}

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}