@import "variables";
#section1{
    margin-top: -20px;
    width: 100%;
    height: 65vh;
    background-image: url("homepage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    h1,h3{
        color: whitesmoke;
        position: relative;
    }
    h1{
        margin-top: 50px;
        font-size: 36px;
    }
    h3{
        margin-top: 35px;
        font-size: 32px;
        font-style: italic;
    }
}

#heading{
    h1 {
        margin-bottom: -10px;
        font-size: $heading-size;
    }
    h2{
        font-size: 16px;
        font-weight:  100;
        font-style: italic;
        line-height: 125%;
        letter-spacing: 1.25px;
        color: $color-gray-dark;
    }
    @media(max-width: 768px){
        h1 {
            font-size: $heading-size-md;
        }
    }
    @media(max-width: 475px){
        h1 {
            font-size: $heading-size-sm;
        }
    }
}

.feature-row{
    min-height: 200px;
    .container{
        padding-left: 25px;
    }
    .align-left{
        padding-left: 0;
    }
    .feature-icon{
        margin-top: 55px;
    }
    .feature-text{
        margin-top: 20px;
    }
    i{
        border-radius: 50%;
        border: 2px solid $color-purple;
        color: $color-purple;
        padding: 25px;
        font-size: 6em;
    }
    h3{
        text-align: left;
        font-size: 22px;
        font-weight: 500;
        padding-left: 10px;
        margin-top: 0;
    }
    p{
        text-align: left;
        font-size: 14px;
        font-weight: 100;
        padding-left: 10px;
        line-height: 150%;
    }

    @media(max-width: 1200px){
        i{
            font-size: 4em;
        }
        h3{
            font-size: 18px;
        }
    }

    @media(max-width: 992px){
        i{
            font-size: 5em;
        }
        h3{
            font-size: 20px;
        }
    }

    @media(max-width: 767px){
        .feature-icon{
            margin-top: 35px;
            margin-bottom: 35px;
            text-align: center;
        }
        i{
            padding: 20px;
        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}

@media(max-width: 767px){
    .exchange-element-wrapper-sm {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */

    }
    .exchange-element-wrapper-sm .text-first-sm {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .exchange-element-wrapper-sm .image-second-sm {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}
/*Exchange of position between 2 elements md version*/
@media(max-width: 1199px){

    .exchange-element-wrapper-md {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */

    }
    .exchange-element-wrapper-md .text-first-md {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .exchange-element-wrapper-md .image-second-md {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}

.feature{
    .row{
        margin: 0;
    }
    p{
        text-align: left;
        font-size: 20px;
        line-height: 175%;
    }
    h3{
        text-align: left;
        font-size: 30px;
        margin-top: 0;
        font-weight: 400;
        line-height: 1em;
    }
    h4{
        text-align: left;
        font-size: 24px;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .image-gray-border{
        border-right: 15px solid $color-gray-light ;
    }

    .image-white-border{
        border-left: 15px solid $color-white ;
    }

    .feature-image{
        min-height: 330px;
        overflow: hidden;
        position: relative;
        margin-top: 35px;
        margin-bottom: 35px;
        img{
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }
    }

    .text-left{
        padding-right: 20px;
        padding-left: 0;
    }

    .text-right {
        padding-left: 15px;
        padding-right: 0;
    }

    .feature-text{
        margin-top: 30px;
    }
    #firstRow{
        padding-top: 0;
    }
    @media(max-width: 767px){
        .feature-text{
            margin-top: 0;
            p{
                text-align: center;
                font-size: 16px;
            }
            h4{
                text-align: center;
                font-size: 20px;
            }
            h3{
                text-align: center;
                font-size: 30px;
            }
        }
        .feature-image {
            min-height: 300px;
        }
        .image-gray-border{
            border-right: none ;
        }

        .image-white-border{
            border-left: none ;
        }
    }
    @media(min-width: 768px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 250px;
        }
    }
    @media(min-width: 992px){
        p{
            font-size: 14px;
        }
        h4{
            font-size: 16px;
        }
        h3{
            font-size: 26px;
        }
        .feature-image {
            min-height: 270px;
        }
    }
    @media(min-width: 1200px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 290px;
        }
    }
    @media(min-width: 1600px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 310px;
        }
    }
}


.registration{
    display: flex;
    .form{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .btn{
        min-width: 150px;
        background-color: $color-purple;
    }
}


ul.errors{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    li{
        color: $color-purple;
        background-color: $color-smoke-white;
        min-height: 50px;
        padding-top: 20px;
        width: 100%;
    }
}

.feature{
    .row{
        margin: 0;
    }
    p{
        text-align: left;
        font-size: 20px;
        line-height: 175%;
    }
    h3{
        text-align: left;
        font-size: 30px;
        margin-top: 0;
        font-weight: 400;
        line-height: 1em;
    }
    h4{
        text-align: left;
        font-size: 24px;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .image-gray-border{
        border-right: 15px solid $color-gray-light ;
    }

    .image-white-border{
        border-left: 15px solid $color-white ;
    }

    .feature-image{
        min-height: 330px;
        overflow: hidden;
        position: relative;
        margin-top: 35px;
        margin-bottom: 35px;
        img{
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }
    }

    .text-left{
        padding-right: 20px;
        padding-left: 0;
    }

    .text-right {
        padding-left: 15px;
        padding-right: 0;
    }

    .feature-text{
        margin-top: 30px;
    }
    #firstRow{
        padding-top: 0;
    }
    @media(max-width: 767px){
        .feature-text{
            margin-top: 0;
            p{
                text-align: center;
                font-size: 16px;
            }
            h4{
                text-align: center;
                font-size: 20px;
            }
            h3{
                text-align: center;
                font-size: 30px;
            }
        }
        .feature-image {
            min-height: 300px;
        }
        .image-gray-border{
            border-right: none ;
        }

        .image-white-border{
            border-left: none ;
        }
    }
    @media(min-width: 768px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 250px;
        }
    }
    @media(min-width: 992px){
        p{
            font-size: 14px;
        }
        h4{
            font-size: 16px;
        }
        h3{
            font-size: 26px;
        }
        .feature-image {
            min-height: 270px;
        }
    }
    @media(min-width: 1200px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 290px;
        }
    }
    @media(min-width: 1600px){
        p{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 30px;
        }
        .feature-image {
            min-height: 310px;
        }
    }
}

.gray-background{
    background-color: $color-gray-light;
}
.white-background{
    background-color: $color-white;
}

