$color-black: black;

$color-gray-light: #f3f5f6;
$color-gray-dark: #939393;

$color-white: #ffffff;
$color-smoke-white: #f5f5f5;

$color-purple: rgb(111, 84, 153);

$heading-size: 48px;
$heading-size-md: 36px;
$heading-size-sm: 24px;