@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i9shjo');
  src:  url('fonts/icomoon.eot?i9shjo#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?i9shjo') format('truetype'),
  url('fonts/icomoon.woff?i9shjo') format('woff'),
  url('fonts/icomoon.svg?i9shjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info-full:before {
  content: "\e953";
}
.icon-reserved:before {
  content: "\e952";
}
.icon-facebook-logo:before {
  content: "\e97a";
}
.icon-get-money:before {
  content: "\e951";
}
.icon-folder:before {
  content: "\e94b";
}
.icon-network:before {
  content: "\e94d";
}
.icon-wrench:before {
  content: "\e94e";
}
.icon-usdprice-tag:before {
  content: "\e94f";
}
.icon-eyedropper:before {
  content: "\e950";
}
.icon-alarm:before {
  content: "\e945";
}
.icon-zlavadna:before {
  content: "\e946";
}
.icon-open-exit-door:before {
  content: "\e91a";
}
.icon-extra-bed:before {
  content: "\e920";
}
.icon-bed:before {
  content: "\e938";
}
.icon-layers:before {
  content: "\e93d";
}
.icon-hourglass:before {
  content: "\e919";
}
.icon-man-walking:before {
  content: "\e918";
}
.icon-question-mark:before {
  content: "\e926";
}
.icon-group:before {
  content: "\e910";
}
.icon-archive:before {
  content: "\e94c";
}
.icon-file:before {
  content: "\e90e";
}
.icon-left-double-chevron:before {
  content: "\e912";
}
.icon-like:before {
  content: "\e917";
}
.icon-locked:before {
  content: "\e924";
}
.icon-newspaper:before {
  content: "\e933";
}
.icon-price-tag:before {
  content: "\e937";
}
.icon-right-double-chevron:before {
  content: "\e940";
}
.icon-search:before {
  content: "\e942";
}
.icon-share:before {
  content: "\e943";
}
.icon-star:before {
  content: "\e947";
}
.icon-star-full:before {
  content: "\e948";
}
.icon-user-circle:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e94a";
}
.icon-change-user .path1:before {
  content: "\e927";
  color: rgb(1, 0, 2);
}
.icon-change-user .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-change-user .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-change-user .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-change-user .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cancel:before {
  content: "\e92c";
}
.icon-credit-card:before {
  content: "\e92d";
}
.icon-diamond:before {
  content: "\e92e";
}
.icon-document:before {
  content: "\e92f";
}
.icon-download:before {
  content: "\e930";
}
.icon-flag:before {
  content: "\e931";
}
.icon-funnel:before {
  content: "\e932";
}
.icon-graph:before {
  content: "\e934";
}
.icon-help:before {
  content: "\e935";
}
.icon-internet:before {
  content: "\e936";
}
.icon-menu:before {
  content: "\e939";
}
.icon-notebook:before {
  content: "\e93a";
}
.icon-notepad:before {
  content: "\e93b";
}
.icon-picture:before {
  content: "\e93c";
}
.icon-settings:before {
  content: "\e93e";
}
.icon-shuffle:before {
  content: "\e93f";
}
.icon-stopwatch:before {
  content: "\e941";
}
.icon-view:before {
  content: "\e944";
}
.icon-left-chevron:before {
  content: "\e925";
}
.icon-error:before {
  content: "\e921";
}
.icon-checked:before {
  content: "\e922";
}
.icon-circular-arrow:before {
  content: "\e923";
}
.icon-repeat:before {
  content: "\e91b";
}
.icon-garbage:before {
  content: "\e91c";
}
.icon-save:before {
  content: "\e91d";
}
.icon-history:before {
  content: "\e91e";
}
.icon-handshake:before {
  content: "\e91f";
}
.icon-key:before {
  content: "\e915";
}
.icon-ticket:before {
  content: "\e916";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-city:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-down-chevron:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-info:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-phone-call:before {
  content: "\e909";
}
.icon-placeholder:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-right-chevron:before {
  content: "\e90c";
}
.icon-select-chevrons:before {
  content: "\e90d";
}
.icon-time:before {
  content: "\e90f";
}
.icon-up-chevron:before {
  content: "\e911";
}
.icon-users:before {
  content: "\e913";
}
.icon-worldwide:before {
  content: "\e914";
}
